name: Hotdeal Alarm
slug: hotdeal_alarm
version: "1.0.0"
description: Hot deal monitoring with notifications
arch:
  - amd64
  - aarch64
  - armv7
  - armhf


options:
  interval: 300
  url: ""
  notify_type: "ha"
  telegram_bot_token: ""
  telegram_chat_id: ""

schema:
  interval: int
  url: str
  notify_type: list(ha|telegram|both)
  telegram_bot_token: str?
  telegram_chat_id: str?
