name: Build Add-on

on:
  push:
    branches: [ main ] # 메인 브랜치에 푸시될 때 실행

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          context: ./hotdeal_alarm
          push: true
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/hotdeal_alarm:latest
            ${{ secrets.DOCKER_USERNAME }}/hotdeal_alarm:1.0.0
